[Unit]
Description=Oxidized - Network Device Configuration Backup Tool

[Service]
ExecStart=/usr/bin/oxidized
User=_oxidized

[Install]
WantedBy=multi-user.target
